<!DOCTYPE html>
<html>
      <head>
           <title>Project</title>
            <link rel="stylesheet"  href="../../Public/style.css" />
      </head>

      <body>
           <h2>{{>Header}}</h2>
           
           <h2>{{title}} page content</h2>
           <h2>{{desc}}</h2>
          
      </body>
</html>