<!DOCTYPE html>
<html>
      <head>
           <title>Project</title>
           <link rel="stylesheet"  href="../../Public/style.css" />
      </head>
      <body>
        
          <h2 class="Hedt"> {{title}} page  content 10 </h2>

          <div class="Header" >
            <a href="/">Person1</a>
            <a href="/Person2">Person2</a>
            <a href="/Person3">Person3</a>
          </div>
          
      </body>
</html>